name: flutter-test

on:
  pull_request:
  push:
    branches:
      - dev
      - main

jobs:
  main:
    runs-on: ubuntu-20.04
    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_DB: prisma
          POSTGRES_USER: prisma
          POSTGRES_PASSWORD: prisma
        ports: [ '5432:5432' ]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      redis:
        image: redis:7-alpine
        ports: ['6379:6379']
        options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5
      solana:
        image: ghcr.io/kin-labs/kinetic-solana-network:latest
        ports: [ '8899:8899', '8900:8900' ]
      kinetic:
        image: ghcr.io/kin-labs/kinetic:1.0.0-rc.12
        ports:
          - 3000:3000
        env:
          API_URL: 'http://localhost:3000'
          APP_1_FEE_PAYER_SECRET: 'UvfuF3FPqLyvS8xGjSu4AUfdsY5QvLdnin8SKBLAi3UqgbmEWCDshPY3UcxvBgRAqHLzh5Ni1eypLVZArsis6FF'
          APP_1_NAME: 'App 1'
          AUTH_USERS: 'alice|Kinetic@alice1|Admin,bob|Kinetic@bob1'
          AUTH_PASSWORD_ENABLED: true
          DATABASE_URL: 'postgresql://prisma:prisma@postgres:5432/prisma?schema=kinetic'
          JWT_SECRET: 'KineticJwtSecret!'
          NX_CLOUD_DISTRIBUTED_EXECUTION: false
          REDIS_URL: 'redis://redis:6379'
          SOLANA_LOCAL_ENABLED: true
          SOLANA_LOCAL_MINT_KIN: '*MoGaMuJnB3k8zXjBYBnHxHG47vWcW3nyb7bFYvdVzek,5,Kin'
          SOLANA_LOCAL_MINT_KIN_AIRDROP_SECRET: 'UvfuF3FPqLyvS8xGjSu4AUfdsY5QvLdnin8SKBLAi3UqgbmEWCDshPY3UcxvBgRAqHLzh5Ni1eypLVZArsis6FF'
          SOLANA_LOCAL_MINT_USDC: '*USDzo281m7rjzeZyxevkzL1vr5Cibb9ek3ynyAjXjUM,2,USDC'
          SOLANA_LOCAL_MINT_USDC_AIRDROP_SECRET: 'UvfuF3FPqLyvS8xGjSu4AUfdsY5QvLdnin8SKBLAi3UqgbmEWCDshPY3UcxvBgRAqHLzh5Ni1eypLVZArsis6FF'
          SOLANA_LOCAL_RPC_ENDPOINT: 'http://solana:8899'

    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
      - run: flutter test
